<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DemoTest.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EE03BCDF229E2CA1006CAF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE03BCF7229E2CA4006CAF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EE03BD02229E2CA4006CAF01</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
